/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: center;
  font-size: 18px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.result-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000015;
  border-radius: 30px;
  height: 60vh;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

#moyenne {
  border-radius: 30px;
  background: linear-gradient(0deg, hsl(252, 100%, 67%) 100%, hsl(241, 81%, 54%) 0%);
  color : white;
}

.moyenne-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin : 4%;
  background: linear-gradient(0deg, hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1) 100%);
}

#number {
  font-size: 50px;
  font-weight: bold;
}

.small-text {
  font-size: 12px;
  opacity: 0.45;
}

.result-container {
  flex: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bouton-arrondi {
  border: none;
  background-color: #222222;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 20px;
  font-size: auto;
  cursor: pointer;
  width: -webkit-fill-available;
}

.bouton-arrondi:hover {
  background-color: #dddddd;
}

.categorie {
  width: 15em;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.icone {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.score-categorie {
  font-weight: bold;
}

.slash-categorie {
  color: #222222;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
}
h3,#rank{
	opacity : 55%;
}
#summary{
	margin-bottom : 10px;
}
p {
  font-size: 16px;
  margin-top: 5px;
}

#attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
  width: 100%;
  padding: 5px 0;
}

#Reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.2);
}

#Memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.2);
}

#Verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.2);
}

#Visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.2);
}
