/* Media query pour les écrans mobiles (max 750px) */
@media screen and (max-width: 750px) {
  body {
    font-size: 14px;
	margin : 0;
  }
  #container{
	justify-content : flex-start;
	height: unset;
  }
  .result-container-wrapper, .result-container {
    flex-direction: column;
    align-items: center;
    height: unset;
    width: 100%;
  }
  #moyenne, #resultats {
    width: 100%;
    height: auto;
  }
  #moyenne {
    margin-bottom: 0;
	border-radius : 0 0 30px 30px;
  }
  .result-container {
    border-radius: 0; /* Supprimer les coins arrondis */
    width: 100%; /* 100% de la largeur de l'écran */
    padding: 20px; /* Ajout de la marge intérieure */
    overflow: visible; /* Afficher le contenu complet sans débordement */
  }

 .result-container {
    height: 70vh; /* Hauteur de 70% de la hauteur de l'écran */
  }
  .result-container-wrapper{
	  border-radius : 0;
	  overflow:unset;
  }
  .categorie{
	  width : 90vw;
  }
}
